# ignore all logs
*.log
# ignore all compiled
*.out
# ingore all waveforms
*.vcd
# ignore all hex output files
*.hex
transcript

# ignore work folder
work
synthesis/output_files
synthesis/simulation
synthesis/incremental_db